* {
    box-sizing: border-box;
}

body {
    touch-action: none;
    background-color: #0f0f0f;
    color: white;
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: minmax(0, 1fr);
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#config {
    padding: 10px;
    background-color: #191919;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 2rem 2rem 2rem;
    align-items: center;
    min-height: 0;  /* NEW */
    min-width: 0;   /* NEW; needed for Firefox */
}

#config #gif-input {
    grid-column: 1 / span 2;
    margin: 10px 0;
}

#config > * {
    overflow: hidden;
    min-width: 0;   /* NEW; needed for Firefox */
}


.basic-input {
    color: white;
    background-color: #252525;
    border: 2px #303030 solid;
    border-radius: 5px;
    padding: 5px;
}

#config button {
    margin-right: 10px;
    background-color: orange;
    cursor: pointer;
}


#config button.valid {
    background-color: greenyellow;
    color: black;
}

#config button.invalid {
    background-color: red;
}

#config #update {
    background-color: #008496;
}

.slider-container {
    grid-column: 1 / 4;
    height: 25px;
}

.slider-bar {
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: red;
    position: relative;
}

#colorpicker-bar {
    background: linear-gradient(to left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

#value-bar {
    background: linear-gradient(90deg, #000 0%, #ffffff 100%);
}

.slider-knob {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -5px;
    background-color: gray;
    position: absolute;
}

#matrix-container {
}

#matrix {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#matrix > div {
    border: 1px gray solid;
}

#frame-selector-wrapper {
    overflow-x: scroll;
}

#frame-selector {
    background-color: #252525;
    height: 150px;
    width: min-content;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-frame {
    min-width: 80px;
}

#frame-selector > * {
    margin: 0px 10px;
}

.frame-preview-wrapper {
    display: grid;
    grid-template-rows: auto 20px;
    justify-items: center;
    align-items: center;
    height: max-content;
}

.delete-frame {
    color: white;
    margin-top: 35px;
    background-color: red;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: none;

}


.frame-preview {
    padding: 20px;
    text-align: center;
    min-width: 120px;
    border-radius: 5px;
    border: solid 2px gray;
}
.frame-preview.active {
    background-color: #505050;
    border: solid 4px green;
}

@media (orientation: landscape) {
    /* landscape styles */
    body {
        grid-template-columns: 2fr 250px;
        grid-template-rows: auto;
    }

    #matrix {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #config {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;

        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2rem 4rem 2rem 4rem 4rem;
    }

    #config p {
        grid-column: 1 / 3;
    }

    #config #ip {
        grid-row: 2 / span 1;
    }

    #config #test {
        grid-row: 2 / span 1;
    }

    #config .slider-container {
        grid-column: 1 / span 2;
    }
}